#include "Fern.dtsi"

&kscan0 {
    row-gpios
        = <&xiao_d 10 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 9 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 8 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
        , <&xiao_d 0 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
    ;
    col-gpios
        = <&xiao_d 2 GPIO_ACTIVE_HIGH>
        , <&xiao_d 3 GPIO_ACTIVE_HIGH>
        , <&xiao_d 4 GPIO_ACTIVE_HIGH>
        , <&xiao_d 5 GPIO_ACTIVE_HIGH>
        , <&xiao_d 1 GPIO_ACTIVE_HIGH>
    ;
};

/ {
    chosen {
        // ZMK에게 이 장치를 화면으로 쓰겠다고 알려줍니다.
        zephyr,display = &oled;
    };
};

&i2c0 {
    status = "okay";
    // XIAO BLE의 I2C 핀 번호 (SDA: D4, SCL: D5)
    // 보드마다 핀 번호가 다를 수 있으나 xiao_ble 기본값은 보통 설정되어 있습니다.

    oled: ssd1306@3c {
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;   // OLED의 I2C 주소 (보통 0x3c)
        width = <128>;  // 본인 디스플레이 해상도에 맞게 수정 (128)
        height = <64>;  // 본인 디스플레이 해상도에 맞게 수정 (32 또는 64)
        segment-offset = <0>;
        page-offset = <0>;
        display-offset = <0>;
        multiplex-ratio = <63>; // height가 64면 63, 32면 31
        segment-remap;
        com-invdir;
        com-sequential;
        prechargep = <0x22>;
    };
};
