manifest:
  remotes:
    - name: zmkfirmware
      url-base: https://github.com/zmkfirmware
    - name: caksoylar
      url-base: https://github.com/caksoylar
  projects:
    - name: zmk
      remote: zmkfirmware
      revision: main
      import: app/west.yml
    - name: zmk-display-widgets
      remote: caksoylar
      revision: main
      # 아래 줄을 추가하여 경로 명시 (충돌 방지)
      path: zmk-display-widgets 
  self:
    path: config
